<ul class="list-group dashboard-post-list">
  <% collection.each do |post| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span>
        <div><%= post.title %></div>
        <div>
          <span class="badge badge-pill badge-primary">
            <%= post.category ? post.category.name : "Uncategorized" %>
          </span>
          <span class="badge badge-pill badge-light"><%= post.created_at.strftime("%F") %></span>
        </div>
      </span>
      <span>
        <%= link_to "Edit", edit_post_path(post), class: "btn btn-primary" %>
        <%= link_to view, post_path(post), class: "btn btn-primary" %>
        <%= link_to "Delete", post_path(post), class: "btn btn-primary", method: :delete, data: {confirm: "Are you sure?"},remote: true  %>
      </span>
    </li>
  <% end %>
</ul>
