<ul class="list-group">
  <%= render 'shared/admin_menu' %>
  <li class="list-group-item">
    <%= link_to "All Posts", posts_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "All Photos", polaroids_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "Stats", stats_path %>
  </li>
  <li class="list-group-item dropdown">
    <a class="dropdown-toggle" data-target="#dropdown" href="#" id="navbarDropdown" role="button" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">
      categories
    </a>
    <div class="collapse" id="dropdown" aria-labelledby="navbarDropdown">
      <% Category.all.each do |category| %>
        <%= link_to category.name, category_path(category), class: "dropdown-item" %>
      <% end %>
    </div>
  </li>
</ul>
