<div class="container py-5">

  <div class="row">
    <div class="col">
      <h1>Create Post</h1>
      <%= simple_form_for @post, data: { 'upload_path': upload_image_post_path(@post) } do |f| %>
      <%= f.input :title %>
      <%= f.association :category, collection: @categories, input_html: { class: 'select2' }, include_blank: false  %>
      <%= f.input :content, input_html: { class: 'tinymce', rows: 20 } %>

      <%= f.submit "Save", class: 'btn btn-primary' %>
      <% if !@post.published %>
        <%= f.submit "Publish", class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "Delete", post_path(@post), class: "btn btn-primary", method: :delete, data: {confirm: "Are you sure?"},remote: true  %>
    <% end %>
    </div>
  </div>

</div>
