<div class="row">

  <div class="col">
    <%= simple_form_for @post, data: { 'upload_path': upload_image_post_path(@post) } do |f| %>
    <%= f.input :title %>
    <%= f.input :content, input_html: { class: 'tinymce' } %>

    <%= f.submit "Save", class: 'btn btn-primary' %>
    <% if !@post.published %>
      <%= f.submit "Publish", class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  </div>


</div>


