<%= tinymce_assets %>
<script type="text/javascript" src="/assets/tinymce.js"></script>
<div class="row">

  <div class="col">
    <%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.input :content, input_html: { class: 'tinymce' } %>
    <%= tinymce %>
    <%= f.submit "Post", class: 'btn btn-primary' %>
  <% end %>
  </div>


</div>
