
<% has_photo = @post.photos.any? %>
<div class="jumbotron<%= ' post-page-header_with_image' if has_photo %>" id="post-page-header" <%= "style='background-image: url(#{cl_image_path @post.photos.first.key})')".html_safe if has_photo %>>
  <div class="container">
    <h1><%= @post.title %></h1>
  </div>
</div>

<div class="container" id="post-page-container">
  <div class="row">
     <div class="col">
      <div>
        <div class="post-page-meta d-flex justify-content-between">
          <p>Posted on <span class="emphasize"><%= @post.post_date.strftime("%F") %></span> in <span class="emphasize"><%= @post.category ? link_to(@post.category.name, category_path(@post.category)) : "Uncategorized" %></span>
          </p>
        </div>
        <div id="post-page-content">
          <%= @post.content.html_safe %>
        </div>
    </div>
  </div>
</div>


