
<div class="jumbotron" id="post-page-header" <%= "style='background-image: url(#{cl_image_path @post.photos.first.key})')".html_safe if @post.photos.first %>>
  <div class="container">
    <h1><%= @post.title %></h1>
  </div>
</div>

<div class="container" id="post-page-container">
  <div class="row">
     <div class="col">
      <div id="post-page-content">
        <div class="post-page-meta">
          <%= @post.created_at %>
          <%= @post.category.name %>
        </div>
          <%= @post.content.html_safe %>
        </div>
    </div>
  </div>
</div>


