<!DOCTYPE html>
<html>
  <head>
    <title>ShutterMushi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171076184-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-171076184-1');
    </script>

    <!-- Meta tags -->
    <meta name="description" content="A Tokyo and sometimes other places photo blog.">
    <meta name="keywords" content="Photography, Tokyo">
    <meta name="author" content="Nicole Regina Wong">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= tinymce_assets %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'chartkick_require' %>
  </head>



    <body>

    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-lg-2 d-flex flex-column justify-content-center" id="sidebar">
          <%= render 'components/sidebar' %>
        </div>
        <div class="col-12 col-md-9 col-lg-10" id="content">
          <%= yield %>
        </div>
      </div>

    </div>




  </body>
</html>
